In [22]:
#Desafio 1
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat','dog', 'dog'],
       'age': [2.5, 3, 0.5, np.nan, 5,2, 4.5, np.nan, 7,3],
       'visits': [1,3,2,3,2,3,1,1,2,1],
       'priority': ['yes','yes','no','yes','no','no','no','yes','no','no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#dataframe
df = DataFrame(data, index=labels)
print(df)

#preenchendo com a media
df = df.fillna(df.mean())
print(df)

#lista unica de animais
print(df.animal.unique())

#estat√≠stica
print(df.describe())

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no
  animal     age  visits priority
a    cat  2.5000       1      yes
b    cat  3.0000       3      yes
c  snake  0.5000       2       no
d    dog  3.4375       3      yes
e    dog  5.0000       2       no
f    cat  2.0000       3       no
g  snake  4.5000       1       no
h    cat  3.4375       1      yes
i    dog  7.0000       2       no
j    dog  3.0000       1       no
['cat' 'snake' 'dog']
             age     visits
count  10.000000  10.000000
mean    3.437500   1.900000
std     1.770711   0.875595
min     0.500000   1.000000
25%     2.625000   1.000000
50%     3.218750   2.000000
75%     4.234375   2.750000
max     7.000000   3.000000

In [26]:
#Desafio 2

def mult(df):
    df2 = df.copy()
    df2.visits = df.visits * 2
    return df2

print(df)

#Duplica coluna visit - Outro DataFrame
print(mult(df))

#Rank 
df['rank'] = df['visits'].rank(ascending=0)
print(df)

#New_animals
arrNewAnimals = ['cow', 'horse', 'shark']
df['new_animals'] = df.animal.isin(arrNewAnimals)
print(df)

  animal     age  visits priority  rank
a    cat  2.5000       1      yes   8.5
b    cat  3.0000       3      yes   2.0
c  snake  0.5000       2       no   5.0
d    dog  3.4375       3      yes   2.0
e    dog  5.0000       2       no   5.0
f    cat  2.0000       3       no   2.0
g  snake  4.5000       1       no   8.5
h    cat  3.4375       1      yes   8.5
i    dog  7.0000       2       no   5.0
j    dog  3.0000       1       no   8.5
  animal     age  visits priority  rank
a    cat  2.5000       2      yes   8.5
b    cat  3.0000       6      yes   2.0
c  snake  0.5000       4       no   5.0
d    dog  3.4375       6      yes   2.0
e    dog  5.0000       4       no   5.0
f    cat  2.0000       6       no   2.0
g  snake  4.5000       2       no   8.5
h    cat  3.4375       2      yes   8.5
i    dog  7.0000       4       no   5.0
j    dog  3.0000       2       no   8.5
  animal     age  visits priority  rank
a    cat  2.5000       1      yes   8.5
b    cat  3.0000       3      yes   2.0
c  snake  0.5000       2       no   5.0
d    dog  3.4375       3      yes   2.0
e    dog  5.0000       2       no   5.0
f    cat  2.0000       3       no   2.0
g  snake  4.5000       1       no   8.5
h    cat  3.4375       1      yes   8.5
i    dog  7.0000       2       no   5.0
j    dog  3.0000       1       no   8.5
  animal     age  visits priority  rank  new_animals
a    cat  2.5000       1      yes   8.5        False
b    cat  3.0000       3      yes   2.0        False
c  snake  0.5000       2       no   5.0        False
d    dog  3.4375       3      yes   2.0        False
e    dog  5.0000       2       no   5.0        False
f    cat  2.0000       3       no   2.0        False
g  snake  4.5000       1       no   8.5        False
h    cat  3.4375       1      yes   8.5        False
i    dog  7.0000       2       no   5.0        False
j    dog  3.0000       1       no   8.5        False

In [31]:
#Desafio 3

df3 = pd.DataFrame({'DateOfBirth': ['1986-11-11', '1999-05-12', '1976-01-01', '1986-06-01', '1983-06-04', '1990-03-07', '1999-07-09'],
                  'State': ['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                  },
                 index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])

def filtro(df, chave):
    return df[df.State == chave]

print(df3)
filtro(df3, 'TX')

          DateOfBirth State
Jane       1986-11-11    NY
Nick       1999-05-12    TX
Aaron      1976-01-01    FL
Penelope   1986-06-01    AL
Dean       1983-06-04    AK
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX

          DateOfBirth State
Nick       1999-05-12    TX
Christina  1990-03-07    TX
Cornelia   1999-07-09    TX