In [1]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

## Leitura do Arquivo

In [2]:
data = pd.read_csv('breast_cancer_data.csv', sep=',')
data.head()

   1000025  5.0   1.0   1  1.1  2 1.2  3.0  1.0.1  1.3     benign    Dr. Doe
0  1002945  5.0   4.0   4    5  7  10  3.0    2.0    1     benign  Dr. Smith
1  1015425  3.0   1.0   1    1  2   2  3.0    1.0    1     benign    Dr. Lee
2  1016277  6.0   8.0   8    1  3   4  3.0    7.0    1     benign  Dr. Smith
3  1017023  4.0   1.0   1    3  2   1  3.0    1.0    1     benign   Dr. Wong
4  1017122  8.0  10.0  10    8  7  10  9.0    7.0    1  malignant  Dr. Smith

In [7]:
colunas = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

data = pd.read_csv('breast_cancer_data.csv', names=colunas)
data.head()

         a    b    c  d  e  f   g    h    i  j       k          l
0  1000025  5.0  1.0  1  1  2   1  3.0  1.0  1  benign    Dr. Doe
1  1002945  5.0  4.0  4  5  7  10  3.0  2.0  1  benign  Dr. Smith
2  1015425  3.0  1.0  1  1  2   2  3.0  1.0  1  benign    Dr. Lee
3  1016277  6.0  8.0  8  1  3   4  3.0  7.0  1  benign  Dr. Smith
4  1017023  4.0  1.0  1  3  2   1  3.0  1.0  1  benign   Dr. Wong

In [9]:
len(data)

699